<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/">
        <img src="assets/code-map.ico" alt="logo">
        <h1>Code Map</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Workspaces" nzIcon="folder-open">
        <ul>
          <li *ngFor="let ws of workspaces"
              nz-submenu nzOpen nzTitle="{{ws.name}}" nzIcon="dashboard">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <i nz-icon nzType="radar-chart" nzTheme="outline"></i>
                <a routerLink="/workspace/view/{{ws.name}}">View</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <i nz-icon nzType="setting" nzTheme="outline"></i>
                <a routerLink="/workspace/settings/{{ws.name}}">Settings</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <a nz-menu-item nzMatchRouter routerLink="/workspace/new"><i nz-icon nzType="form" nzTheme="outline"></i>New
        Workspace</a>
      <a nz-menu-item nzMatchRouter routerLink="/manage-libs"><i nz-icon nzType="hdd" nzTheme="outline"></i>Manage Libs</a>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
