<nz-table #basicTable [nzData]="listOfData">
  <thead>
  <tr>
    <th>ID</th>
    <th>Workspace ID</th>
    <th>Workspace Name</th>
    <th>Status</th>
    <th>Start Time</th>
    <th>Remark</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of listOfData">
    <td>{{ data.id }}</td>
    <td>{{ data.refId }}</td>
    <td>{{ data.refName }}</td>
    <td>{{ data.status }}</td>
    <td>{{ data.startTime }}</td>
    <td>{{ data.remark }}</td>
    <td>
      <a>Stop 一 {{ data.id }}</a>
    </td>
  </tr>
  </tbody>
</nz-table>
